{% block stylesheets %}{{parent()}}{% endblock %}

    <header>
        <nav>
            <div class="nav-link">
                <a href="/">Home</a>
            </div>
            <div class="nav-link">
                <a href="/products">Products</a>
            </div>
            <div class="nav-link">
                <a href="/variants">Variants</a>
            </div>
            <div class="nav-link">
                <a href="/images">Images</a>
            </div>   
        </nav>
    </header>